.contact-form {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    gap: 20px;
    padding-left: 450px;
    padding-top: 50px;
}
.contact-name {
    padding: 6px;
}
.contact-email {
    padding: 6px;
}
.contact-number {
    padding: 6px;
}
.contact-button {
    padding: 12px;
    border-radius: 30px;
    background-color: yellow;
    border-color: yellow;
}

@media screen and (min-width: 400px) and  (max-width: 600px) {
    .contact-form {
        padding-left: 150px;
    }
}
@media screen and (min-width: 700px) and  (max-width: 900px) {
    .contact-form {
        padding-left: 350px;
    }
}
